# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/

# Env files
.env
.env.*
!.env.example
*.local

# Editor dirs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite/Typescript cache
*.tsbuildinfo
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# NPM/Yarn/PNPM
.npm
.eslintcache
.stylelintcache
